extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/account.css")

block content
  .account-container
    // Top Section: Profile & User Details
    .top-section
      .user-flex
        .profile-and-info
          .profile-image
            if user.Profile_Image_Path
              img(src=user.Profile_Image_Path, alt=user.userName)
            else
              img(src='/images/default-profile.png', alt=user.userName)
          .basic-info
            h1= user.userName
            p.small-info User ID: #{user.userID} | Email: #{user.userEmail}
        .profile-image-update
          form(action="/account/update-profile-image", method="post", enctype="multipart/form-data")
            label.upload-label(for="profilePhoto") Upload Profile Photo
            input#profilePhoto(type="file", name="profileImage", accept="image/*", style="display: none;")
            button(type="submit") Upload

    // Dashboard Sections: three columns side by side.
    .dashboard-sections
      // Column 1: Update Details
      .dashboard-column.update-details
        h2 Update Your Details
        form(action="/account/update", method="post")
          .form-group
            label(for="userName") Name
            input#userName(type="text", name="userName", value=user.userName, required)
          .form-group
            label(for="userEmail") Email
            input#userEmail(type="email", name="userEmail", value=user.userEmail, required)
          .form-group
            label(for="phone") Phone Number
            input#phone(type="text", name="phone", value=user.userContact, required)
          .form-group
            label(for="address") Address
            input#address(type="text", name="address", value=user.userAddress, required)
          .form-group
            label(for="password") Update Password
            input#password(type="password", name="password", placeholder="Enter new password")
          button(type="submit") Update Details

      // Column 2: Recent Transactions
      .dashboard-column.recent-transactions
        h2 Recent Transactions
        .transactions-grid
          each transaction in transactions || []
            .transaction-card(onclick=`window.location.href='/outfit-listing/${transaction.inventoryID}'`)
              img(src=transaction.image, alt=transaction.itemName)
              .transaction-details
                h3= transaction.itemName
                p Order Date: #{transaction.orderDate}
                p Amount: £#{transaction.amount}
        a.see-more(href="/order-history") See More Transactions

      // Column 3: Watch List
      .dashboard-column.watchlist
        h2 Watch List
        .favorites-grid
          each fav in favorites || []
            .favorite-card(onclick=`window.location.href='/outfit-listing/${fav.inventoryID}'`)
              img(src=fav.image, alt=fav.itemName)
              .favorite-details
                h3= fav.itemName
        a.see-more(href="/favorites") See More Watch List Items


    // New Section: Listings Table
    .section-listings
      .section-header
        h2 My Listings
        a.add-new-outfit(href="/new-listing") Add New Outfit
      table.inventory-table
        thead
          tr
            th Image
            th Name
            th Description
            th Status
            th Actions
        tbody
          each item in inventoryItems || []
            tr
              td
                img(src=item.image, alt=item.name)
              td= item.name
              td= item.description
              td= item.status
              td
                button.update(onclick=`window.location.href='/inventory/update/${item.inventoryID}'`) Update
                button.remove(onclick=`window.location.href='/inventory/remove/${item.inventoryID}'`) Remove