extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/cart.css")  

block content
  .cartHeader
    h1 My Cart
  .cart-container

    if cartItems && cartItems.length > 0
      each item in cartItems
        .cart-item
          img.cart-img(src=item.image, alt=item.Name)

          .item-info
            h3 #{item.name}
            p.description #{item.description}
            p Order Placed: #{item.orderDate}  
            p Misuse Penalty: £#{item.penalty} 
            p Dispatched to: #{item.dispatchTo}
            p Delivery Date: #{item.deliveryDate}

            hr.line-separater
            nav 
              ul
                li 
                  a(href=`/outfit-listing/${item.orderId}`) View product details
                li 
                  a(href=`/remove/${item.Cart_ID}`) remove item
      ul.buttonlink 
        li    
          .checkout-button
          a(href="/checkout")
            button Go to Checkout
    else
      p Your cart is empty!
