extends default_web_logged-in_layout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")

block content
    .container
        h1 My Cart
        if cartItems && cartItems.length > 0
            .cart-items
                each item in cartItems
                    .cart-item
                        img(src=item.image, alt=item.name).item-image
                        .item-details
                            h2= item.name
                            p Quantity: #{item.Quantity}
                            p Price: £#{item.price}
                            p Total: £#{(item.price * item.Quantity).toFixed(2)}

                        form(action=`/outfit/${item.orderId}`, method="GET")
                            button(type="submit") More Details

                        form(action=`/cart/delete/${item.Cart_ID}`, method="POST")
                            button(type="submit") Remove

            .cart-total
                h3 Total: £#{total.toFixed(2)}
                a.checkout-button(href="/checkout") Proceed to Checkout →
        else
            p Your cart is empty.