extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/checkout.css")

block content
  .container
    h1 My Checkout
    if cartItems.length > 0
      each item in cartItems
        .outfit-item
          img(src=item.image alt=item.name)
          .details
            h2= item.name
            p Description: #{item.description}
            p Quantity: #{item.quantity}
            p Price: £#{item.price.toFixed(2)}
            p Order Date: #{item.orderDate}
            p Delivery Date: #{item.deliveryDate}
            p Dispatch To: #{item.dispatchTo}
            hr

        .delivery-return
          h3 Delivery Information
          p Delivery Option: #{item.deliveryOption || 'Standard Delivery'}
          p Estimated Delivery: #{item.deliveryDate} // Display deliveryDate

      .terms
        p By clicking "Agree and Collect", you accept the terms and conditions.
      .checkout-button
        button.agree-button(type="button") Agree and Collect
    else
      p Your cart is empty.