extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/checkout.css")

block content
  .checkout-container
    .checkout-header
      h1 Checkout
      h2 Total Cost: £#{totalPrice.toFixed(2)}

    if cartItems.length > 0
      each item in cartItems
        .checkout-item
          img(src=item.image, alt=item.name).item-image
          .item-details
            h3= item.name

            p Price: £#{item.price}
            p Order Date: #{item.orderDate}
          hr

      .checkout-terms
        p By clicking "Confirm Borrowing", you accept the terms and potential penalties associated with the items.
        a.termsOfUseLink(href="/terms-and-conditions") See Terms and Conditions

      .checkout-navigation
        a.back-button(href="/cart") ← Go to Cart
        a.forward-button(href="/shipping") Shippings →
    else
      p Your cart is empty.