extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/favourites.css")



block content
  if (outfits)
    div.container
      h1 You have #{" "+ outfits.length} Saved Outfits
      div.sort-by
        form(method="POST", action="/favourites")
          select(name="sortOrder")
            option(value=null) filter
            option(value="newest") Newest to Oldest
            option(value="oldest") Oldest to Newest
          button(type="submit") Go

      each outfit in outfits
        div.outfit-item
          div.product-clickable(onclick=`window.location.href='/outfit-listing/${outfit.Inventory_ID}'`)
            img(src=outfit.Product_Image_Path alt=outfit.Name)
          div.product-clickable(onclick=`window.location.href='/outfit-listing/${outfit.Inventory_ID}'`)          
            h3= outfit.Name
          
          br
          h5= "Date saved: " + outfit.Date_Added
          p= outfit.Description
          a(href=`/remove-outfit/${outfit.Inventory_ID}`) 
            button.remove(type="button") Remove
  else
    div.container
      h1 You Don't have any Saved Outfits
      div.sort-by
        form(method="POST", action="/filter-favourites")
          select(name="sortOrder")
            option(value=null) filter
            option(value="newest") Newest to Oldest
            option(value="oldest") Oldest to Newest
          button(type="submit") Go
