extends default_web_logged-out_layout.pug

block content
  h3 create a view with default/set filters; category, price, location
  div.catalog
    each product in products
      div.product
        img(src="/images/sample.jpg" alt=product.name)  
        h2= product.name
        p Price: $#{product.price}
                
  // Pagination controls
  if prevPage || nextPage
    nav.pagination
      if prevPage
        a(href=`/?page=${prevPage}`) Previous
      if nextPage
        a(href=`/?page=${nextPage}`) Next