extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/home.css")


block content

  h1.page-title Browse Catalogue

  .sort-container
    .sort-by
      label Filters:
      form(action="/", method="post")
        select(name="sortOrder", id="sortOrder")
          option(value="", disabled, selected) Select Sort Order
          option(value="newest") Newest to Oldest
          option(value="oldest") Oldest to Newest

        select(name="category", id="category")
          option(value="", disabled, selected) Select Category
          each c in categories
            option(value=c.Category_Name)= c.Category_Name

        input(type="number" id="maxPrice" name="maxPrice" placeholder="Enter maximum charges")

        select(name="location", id="location")
          option(value="", disabled, selected) Select Location
          option(value="city") City
          option(value="suburbs") Suburbs
          option(value="rural") Rural
        
        button(type="submit") Go

  if products != 0
    .catalog
      each product in products
        // Each product card, clickable to outfit-listing
        .product(onclick=`window.location.href='/outfit-listing/${product.Inventory_ID}'`)
          img(src=product.Product_Image_Path, alt=product.Name)
          h2= product.Name
          p Price: $#{product.Price}

    // Arrows for pagination (left/right) instead of next/prev at the bottom
    if prevPage || nextPage
      nav.pagination
        if prevPage
          a.arrow-left(href=`/?page=${prevPage}`, aria-label="Previous Page") &#x25C0;
        if nextPage
          a.arrow-right(href=`/?page=${nextPage}`, aria-label="Next Page") &#x25B6;

  else
    .container
      h3 Sorry, no products match this search.
