extends default_web_logged-out_layout.pug

block styles
  link(rel="stylesheet", href="/css/home.css")

block content

  h1.page-title Browse Catalogue
  .sort-container
    div.sort-by
        
      label Filters:
      form(action="/", method="post" )
        select(name="sortOrder", id="sortOrder")
          option(value="", disabled, selected) Select Sort Order
          option(value="newest") Newest to Oldest
          option(value="oldest") Oldest to Newest

        select(name="category", id="category")
          option(value="", disabled selected) Select Category
          each category in categories
            option(value=category.Category_Name)= category.Category_Name
          
        input(type='number' id='maxPrice' name='maxPrice' placeholder='Enter maximum charges' )
        

        select(name="location", id="location")
          option(value="", disabled, selected) Select Location
          option(value="city") City
          option(value="suburbs") Suburbs
          option(value="rural") Rural
        button(type="submit") Go
      

  div.catalog
    each product in products
      div.product
        div.product-clickable(onclick=`window.location.href='/outfit-listing/${product.Inventory_ID}'`)
          img(src=product.Product_Image_Path, alt=product.Name) 
        h2= product.Name
        p Price: $#{product.Price}
        
  // Pagination controls
  if prevPage || nextPage
    nav.pagination
      if prevPage
        a(href=`/?page=${prevPage}`) Previous
      if nextPage
        a(href=`/?page=${nextPage}`) Next
