extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/order-history.css")

block content
  .container
    h1 Your Order History
    
    form(method="POST", action="/order-history")
      .filter-container
        label Sort by:
        select(name="sortOrder")
          option(value="*" selected=(!sortOrder || sortOrder=='*')) All
          option(value="3" selected=sortOrder=='3') Past three months
          option(value="6" selected=sortOrder=='6') Past six months
          option(value="12" selected=sortOrder=='12') Past twelve months
          option(value="24" selected=sortOrder=='24') Past twenty-four months
      .search-container
        input(type="search", name="search", placeholder="Search all orders", value=searchQuery)
        button(type="submit") Search Orders

    if orders.length > 0
      each order in orders
        .order-item
          img(src=order.image alt=order.itemName)
          .details
            h2= order.itemName
            p Description: #{order.description}
            p Date Ordered: #{order.orderDate}
            p Dispatch To: #{order.dispatchTo}
            p Penalty: £#{order.penalty.toFixed(2)}
            hr
    else
      p No orders found.
