extends default_web_logged-in_layout.pug

block content
  h3 Order History
  
  form(action="/order-history", method="GET")
    input(type="text" name="itemName" placeholder="Search by Item Name" value="#{itemName}")
    input(type="text" name="orderNumber" placeholder="Search by Order Number" value="#{orderNumber}")
    input(type="text" name="tags" placeholder="Search by Tags (e.g., pants, shirt)" value="#{tags}")
    button(type="submit") Apply Filters

  table
    thead
      tr
        th Item Name
        th Order Number
        th Tags
        th Order Date
        th Dispatch To
        th Penalty
    tbody
      each order in orders
        tr
          td= order.itemName
          td= order.orderNumber
          td= order.tags
          td= order.orderDate
          td= order.dispatchTo
          td= order.penalty

  // If no orders found, show a message
  if orders.length === 0
    p No orders found based on the filters.

