extends default_web_logged-in_layout.pug

block styles
  link(rel="stylesheet", href="/css/outfit-listing.css")

block content
  .product-div
    .product-detail-container
      .image-gallery
        .thumbnail-container
          img.thumbnail(src=product.Product_Image_Path, alt=product.Name, onclick='setMainImage(this.src)')
          img.thumbnail(src=product.Product_Image_Path, alt=product.Name, onclick='setMainImage(this.src)')
          img.thumbnail(src=product.Product_Image_Path, alt=product.Name, onclick='setMainImage(this.src)')
        img.main-image#mainImage(src=product.Product_Image_Path, alt=product.Name)
      
      .product-info
        h1= product.Name
        h2= product.Inventory_ID
        .price-container
          span.current-price $#{product.Price}
        p= product.Description

        .size-options
          span Size:
          each size in product.Size.split(',')
            button.size-option= size

        p Color: #{product.Color}
        p Condition Level: #{product.Condition_Level}
        p Availability: #{product.Availability ? 'In Stock' : 'Out of Stock'}
        p Quantity Available: #{product.Quantity}

        button.add-to-cart Add to Cart
